.head {
  animation-name:colorchanger;
  animation-duration:5s;
  animation-iteration-count:infinite;
  
}

@keyframes colorchanger {
  
  0% {
    color:red;
  }
  
  20% {
    color:orange;
  }
  
  40% {
    color:yellow;
  }
  
  60% {
    color:green;
  }
  
  80% {
    color:blue;
  }
  
  100% {
    color:white;
  }
  
}
